examples/*.bin
!examples/ggml-tiny-q5_1.bin
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/packages/transcriber/index.d.ts
/packages/transcriber/src/**/*
/packages/shout/src/**/*
!.gitkeep
deploy-example-files.sh